@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #282863;
}
      
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  border-top: 20px solid #282863;
  border-bottom: 20px solid #282863;
  text-align: center;
}

#daily-update {
  text-align: center;
  padding: 4rem;
  font-family: "Truculenta", sans-serif;
  font-size: 45px;
  color: #AE3C37;
}

footer {
  padding: 0.5rem;
  background-color: #293F8F;
}

#copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-block;
  padding: 1rem;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #6d98ed;
  cursor: pointer;
}

@media (max-width: 680px) {
}
